body {
    background-color: black;

}

.Grand {
    word-spacing: 20px;
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: dotted;
    border-color: rgb(192, 149, 97);
    font-size: 150px;
}

.project {
    background-color: antiquewhite;
    text-align: center;
    font-size: 50px;
    
}

.container {
    color: white;
    
    
}

p {
    display: -moz-inline-grid;
    grid-template-columns: 5px;
    grid-template-rows: 5px;

}