body {
    background-color: wheat;
    position: relative;
    width: 100%;
}

.playground {
    word-spacing: 10px;
    color: slateblue;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    border-color: rgb(0, 0, 0);
    border-style: ridge;
    font-size: 75px;
    background-color: silver;
    height: 250px;
    width: 85%;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 50px;
    float: right;

}

#nav {
  width: 25%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

a {
    display: inline-block;
    color: hotpink;
    background-color: black;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    line-height: 50px;
    text-align: justify;
    border-radius: 50px;
    
}

ul {
    list-style-type: none;
}

#light img{
    float: right;
    height: 50px;
    width: 50px;
    top: 0;
    position: absolute;
    left: 85%;

}